<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955632897673-bka2bih4pfpgv9phuhck8crif91abvar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955632897673-bka2bih4pfpgv9phuhck8crif91abvar</string>
	<key>API_KEY</key>
	<string>AIzaSyA_onE9ek2bPudoVBfMwN7n7boyJaRWUMM</string>
	<key>GCM_SENDER_ID</key>
	<string>955632897673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carolina.rakingmusical</string>
	<key>PROJECT_ID</key>
	<string>ranking-musical</string>
	<key>STORAGE_BUCKET</key>
	<string>ranking-musical.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955632897673:ios:aa272b83270db466e88058</string>
	<key>DATABASE_URL</key>
	<string>https://ranking-musical.firebaseio.com</string>
</dict>
</plist>